@import "tailwindcss";

:root {
  --bg-color: #c1b1a2;
  --text-color: #2d2926;
  --white-color: #f2f2f2;
  --link-hover-color: #8b705e;
}
@keyframes bounce-in {
  0% { transform: scale(0); opacity: 0; }
  60% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); }
}
@layer components {
  .custom-swiper .swiper-pagination-bullet {
    @apply bg-transparent opacity-100 w-auto h-auto mx-1;
  }

  .custom-swiper .swiper-pagination-bullet svg circle {
    @apply stroke-white transition-all duration-300;
  }

  .custom-swiper .swiper-pagination-bullet-active svg circle {
    @apply stroke-blue-500 fill-blue-500;
  }
}
